body
{
background:#FFFFFF;
}

.main_content
{
    width: 400px;
    height:475px;
    background-color: #F7F7F7;
    margin: 0px auto;
    margin-top: 0px;
}
.main_content img
{
    height: 100px;
    width: 200px;
    border-radius: 50%;
    margin-top: 22px;
    margin-left: 100px;
}
.box input
{


         border: none;
    width: 306px;
    height: 40px;
    margin-left: 41px;
    margin-top: -5px;
}
.name_field
{
     color:#000000;
}
.name_field input{
      height: 40px;
width: 280px;
text-align: left;
background-color: #FFFFFF;
margin-top: 0px;
margin-bottom: 19px;
margin-left: 3px;
}
.name_field1 input{
 height: 40px;
width: 280px;
text-align: left;
background-color: #FFFFFF;
margin-top: 0px;
margin-bottom: 19px;
margin-left: 3px;;
}
.email_field input
{
height: 40px;
width: 280px;
text-align: left;
background-color: #FFFFFF;
margin-top: 0px;
margin-bottom: 19px;
margin-left: 3px;
}
.password_field input
{
height: 40px;
width: 280px;
text-align: left;
background-color: #FFFFFF;
margin-top: 0px;
margin-bottom: 19px;
margin-left: 0px;
}
.submit input
{
color:#FFFFFF;
border:none;
background:#00FF66;
    width: 280px;
    height: 40px;
    margin-left: 6px;
    margin-top: 30px;
}